<div class="post"
  <p>Hi, I'm Melissa!</p>
  <p>My Mom first taught me to knit when I was in eleven, and though I didn't continue to knit,
  I still have the first and only project worked on at that age.  I went on to do other craft 
  and art projects, but never knitted anything.</p>
  <p>Later, after graduating from college and moving to a small town, I found myself 
  working near the local yarn shop and wishing I could remember how to knit.  I taught myself 
  the basics and struggled through a huge stockinette shrug.  Once one of my friends at work
  found out I was a knitter, we started attending classes at the shop together and learned 
  every technique we could.</p>  
  <p>Now I no longer live near my favorite shop, but I'm still trying to challenge myself.  I decided
  to start this site to share my progress.</p>
</div>
