<h2>Contact Me</h2>
<form method="POST" action="/contactme">
  <label for="name">Name:</label>
  <input type="text" name="name"/>
  <label for "email">Email:</label>
  <input type="text" mail="email"/>
  <label for "body">Message:</label>
  <input type="text" body="body" />
  <input type="submit" class="btn btn-large btn-primary" value="Submit"/>
</form>
